/* FONTS */
@font-face {
  font-family: 'Mazzard Soft H Med';
  src: url("../fonts/MazzardSoftH-Medium.woff2") format("woff2"), url("../fonts/MazzardSoftH-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H';
  src: url("../fonts/MazzardSoftH-Regular.woff2") format("woff2"), url("../fonts/MazzardSoftH-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H SemBd';
  src: url("../fonts/MazzardSoftH-SemiBold.woff2") format("woff2"), url("../fonts/MazzardSoftH-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H';
  src: url("../fonts/MazzardSoftH-Black.woff2") format("woff2"), url("../fonts/MazzardSoftH-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mazzard Soft H ExtBd';
  src: url("../fonts/MazzardSoftH-ExtraBold.woff2") format("woff2"), url("../fonts/MazzardSoftH-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greatest Richmond';
  src: url("../font/GreatestRichmond.woff2") format("woff2"), url("../font/GreatestRichmond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greatest Richmond';
  src: url("../font/GreatestRichmond.woff2") format("woff2"), url("../font/GreatestRichmond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Mazzard Soft H", sans-serif;
  background-image: url("../images/home-bg.jpeg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fbf4ea;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #fff;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.topheader__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0;
}

.topheader__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topheader__item:not(:last-child) {
  margin-right: 30px;
}

.topheader__link {
  text-decoration: none;
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
}

.topheader__text {
  font-size: 14px;
  margin-bottom: 0;
}

.header__inner {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  height: 45px;
  line-height: 45px;
  border-radius: 30px;
  outline: 0;
  background-color: #f4f4f4;
  font-size: 14px;
  color: #aaa;
}

.header__search .search__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.header__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
}

.header__input::-webkit-input-placeholder {
  color: #aaa;
  font-size: 14px;
}

.header__input:-ms-input-placeholder {
  color: #aaa;
  font-size: 14px;
}

.header__input::-ms-input-placeholder {
  color: #aaa;
  font-size: 14px;
}

.header__input::placeholder {
  color: #aaa;
  font-size: 14px;
}

.search__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 45px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  padding: 0 25px;
  font-family: 'Arial';
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search__btn:hover {
  color: #bac34e;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.header__btn:hover {
  background-color: #bac34e;
}

.header__btn:hover .fal {
  color: #fff;
}

.header__btn .fal {
  color: #175037;
}

.header__btn--user {
  background-color: #e8f7f7;
}

.header__btn--heart {
  background-color: #f5f3e3;
  margin: 0 15px;
}

.header__btn--heart span {
  position: absolute;
  top: -6px;
  left: 60%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  background-color: #e0bf96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__btn--shop {
  background-color: #f2e3dc;
}

.header__btn--shop span {
  position: absolute;
  top: -6px;
  left: 60%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  background-color: #e0bf96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-btn {
  display: none;
}

.nav__inner {
  background-color: #0a472e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 16px 40px 16px 0;
  padding: 6px 70px 6px 30px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  border-right: 1px solid #245a42;
}

.nav__btn span {
  font-size: 20px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  padding: 22px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Arial';
}

@media screen and (max-width: 992px) {
  .topheader {
    display: none;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .menu-btn .bx {
    font-size: 28px;
  }
  .header__search {
    display: none;
  }
  .header__btn--user,
  .header__btn--heart {
    display: none;
  }
  .header__inner {
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {
  .header__logo {
    width: 100px;
    height: 55px;
  }
}
/*# sourceMappingURL=main.css.map */