// COLORS
$primary-color: #0a472e;
$text-color: #000;
$secondary-color:#bac34e;
$white-color: #fff;
$light-green: #e8f7f7;
$light-beige:#f5f3e3;
$light-pink:#f2e3dc;
$input-color:#f4f4f4;
$placeholder-color:#aaa;
$yellow: #fea81c;


// Container
$width-container: 1200px;
$p-container: 10px;

// FONTS
$primary-font: "Mazzard Soft H", sans-serif;
$secondary-font: "Greatest Richmond";
$italic-font:'Dancing Script', cursive;
